@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.loginpage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/grainbg.png");
    background-size: cover;

    .loginbox {
        width: 50%;
        height: 60%;
        display: flex;
        border-radius: 10px;

        .loginboxleft {
            width: 50%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: rgba(97, 196, 61, 1);
            font-size: 3rem;
            display: flex;
            align-items: flex-end;
            //letter-spacing: -1.5px;

            line-height: 1.5;
            font-family: 'Koulen', sans-serif;
            color: white;

            span {
                padding-left: 5vw;
                padding-bottom: 12vh;
            }
        }

        .loginboxright {
            width: 50%;
            background-color: white;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            .loginboxrightform {
                display: flex;
                flex-direction: column;
                padding-left: 4.5vw;
                width: 60%;
                font-family: 'Open Sans', sans-serif;

                .username {
                    padding-top: 15vh;
                    font-size: 0.9rem;
                    font-weight: 500;

                }

                .password {
                    padding-top: 2.5vh;
                    font-size: 0.9rem;
                    font-weight: 500;
                }

                input {
                    border: none;
                    background-color: #ededed;
                    border-radius: 5px;
                    height: 4vh;
                    text-indent: 5px;
                    margin-top: 1.5vh;
                    outline: none;
                }

                input::placeholder {
                    color: #697077;

                }

                .forgot {
                    font-size: 0.8rem;
                    margin-top: 1vh;
                    color: #697077;
                    transition: color 0.3s;
                    /* Add a smooth transition effect */

                    &:hover {
                        color: rgb(20, 185, 75);
                        cursor: pointer;
                        /* Change color on hover */
                    }
                }

            }

            .loginboxrightbutton {
                padding-top: 2vh;
                padding-right: 1vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                

                button {
                    margin-top: 2vh;
                    border: none;
                    border-radius: 10px;
                    background-color: #61c43d;
                    width: 30%;
                    text-align: center;
                    height: 5vh;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    transition: background-color 0.3s;
                    /* Add a smooth transition effect */

                    &:hover {
                        background-color: #50a432;
                        cursor: pointer;
                        /* Change color on hover */
                    }
                    
                }

                span {
                    padding-top: 1vh;
                    //text-decoration: underline;
                    font-size: 0.9rem;
                    transition: color 0.3s;
                    /* Add a smooth transition effect */

                    &:hover {
                        color: rgb(20, 185, 75);
                        cursor: pointer;
                        /* Change color on hover */
                    }
                }
            }
        }
    }
}